.home-body {
  background-image: url("../assests/images/dyning-area.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
